<div class="col-md-8">
  <article class="blog-post">
    <div class="blog-post-body">
      <h2>Here I'm!</h2>
      <div class="blog-post-text">
        <p>Nato a Messina il 3 Gennaio 1991. Consegue la maturità presso l’I.T.I. “Verona-Trento”, che serve in prima persona in qualità di Rappresentante d’Istituto per due anni e, congiuntamente, di membro della Giunta Esecutiva e Rappresentante della Consulta Provinciale degli Studenti per un anno, di cui ne diventa Vicepresidente.</p>

        <p>Dopo aver prestato servizio per 3 anni presso l’azienda Oliservice, si iscrive al CdL Informatica dell’Università degli Studi di Messina, e ne diviene Rappresentante sia al Dipartimento che al CdL che alla Consulta per due anni.</p>

        <p>Volontario AISM, dopo aver ricoperto la carica di Segretario dell’Associazione “Messina Giovane”, ne diviene Presidente.</p>

        <p>Tifoso Interista, segue con uguale passione la pallacanestro, sport che pratica dall’età di 12 anni. Geek, attento al mondo che lo circonda, crede fermamente nel cogliere le occasioni che offre la propria città per poterne sfruttare a pieno l’immenso potenziale, attraverso attivismo e iniziative a carattere fortemente sociale prima che politico: sfide da affrontare di petto con la gioventù che funge da moltiplicatore esponenziale.</p>
      </div>
    </div>

    <h2>Comments</h2>
    <div class="fb-comments" data-href="http://salvobertoncini.com" data-numposts="6"></div>

    <h2>Do you mind...?</h2>
    <p>Prendi in considerazione l'idea di iscriverti al feed <a>RSS!</a></p>

  </article>

</div>
