<div class="col-md-8">
  <article class="blog-post">
    <div class="blog-post-body">
      <h2>Keep in touch!</h2>
      <div class="blog-post-text">
        <a href="mailto:info@salvobertoncini.com">
          <h3>Email <i class="fa fa-at"></i></h3>
          <p>info@salvobertoncini.com</p>
        </a>
        <a href="http://facebook.com/salvobertoncini">
          <h3>Facebook <i class="fa fa-facebook"></i></h3>
          <p>facebook.com/salvobertoncini</p>
        </a>
        <a href="http://twitter.com/salvobertoncini">
          <h3>Twitter <i class="fa fa-twitter"></i></h3>
          <p>twitter.com/salvobertoncini</p>
        </a>
        <a href="https://www.linkedin.com/in/salvobertoncini">
          <h3>LinkedIn <i class="fa fa-linkedin"></i></h3>
          <p>linkedin.com/in/salvobertoncini</p>
        </a>
        <a href="http://github.com/salvobertoncini">
          <h3>GitHub <i class="fa fa-github"></i></h3>
          <p>http://github.com/salvobertoncini</p>
        </a>
      </div>
    </div>

    <h2>Comments</h2>
    <div class="fb-comments" data-href="http://salvobertoncini.com" data-numposts="6"></div>

    <h2>Do you mind...?</h2>
    <p>Prendi in considerazione l'idea di iscriverti al feed <a>RSS!</a></p>

  </article>

</div>
