<div class="container">
  <header>
    <a href="index.html"><img src="../../assets/images/log.png"></a>
  </header>
  <section>
    <div class="row">
      <div class="col-md-8">
        <article class="blog-post">
          <div class="blog-post-image">
            <a href="post.html"><img src="../../assets/images/750x500-1.jpg" alt=""></a>
          </div>
          <div class="blog-post-body">
            <h2><a href="post.html">Vintage-Inspired Finds for Your Home</a></h2>
            <p>Few months ago, we found ridiculously cheap plane tickets for Boston and off we went. It was our first visit to the city and, believe it or not, Stockholm in February was more pleasant than Boston in March. It probably has a lot to do with the fact that we arrived completely unprepared. That I, in my converse and thin jacket, did not end up with pneumonia is honestly not even fair.</p>
          </div>
        </article>
        <!-- article -->
        <article class="blog-post">
          <div class="blog-post-image">
            <a href="post.html"><img src="../../assets/images/750x500-2.jpg" alt=""></a>
          </div>
          <div class="blog-post-body">
            <h2><a href="post.html">The Best Street Style Looks of London Fashion Week</a></h2>
            <p>Few months ago, we found ridiculously cheap plane tickets for Boston and off we went. It was our first visit to the city and, believe it or not, Stockholm in February was more pleasant than Boston in March. It probably has a lot to do with the fact that we arrived completely unprepared.</p>
          </div>
        </article>
        <!-- article -->
        <article class="blog-post">
          <div class="blog-post-image">
            <a href="post.html"><img src="../../assets/images/750x500-3.jpg" alt=""></a>
          </div>
          <div class="blog-post-body">
            <h2><a href="post.html">Front Row Style: Our Favorite A-List Moments of Fashion Week</a></h2>
            <p>It was our first visit to the city and, believe it or not, Stockholm in February was more pleasant than Boston in March. It probably has a lot to do with the fact that we arrived completely unprepared. Few months ago, we found ridiculously cheap plane tickets for Boston and off we went.</p>
            <div class="read-more"><a href="blog.html">Older Posts</a></div>
          </div>
        </article>
      </div>

      <app-sidebar></app-sidebar>

</div>
</section>
</div><!-- /.container -->
